<p class="w3-padding">Bondebussen är att ett snabbt och smidigt sätt hitta aktuella busstider
från sin favorithållplats. Inga onödiga inställningar och eventuella förseningar framgår tydligt.</p>

<p class="w3-padding">Till att börja med så visas enbart avgångar från Bondevägen i Järfälla, därav namnet Bondebussen.</p>

<p class="w3-padding">Kommentarer och förslag till förbättringar får ni gärna skicka till <a href="mailto:bondebussen@gmail.com?Subject=Feedback" target="_top">bondebussen@gmail.com</a>.


