<p class="w3-container">Bussar avgående från Bondevägen, Viksjö klockan {{checktime}}.</p>

<div class="w3-row">
  <div class="w3-half w3-container">
    <h3>Bussar västerut</h3>
    <ul class="w3-ul w3-hoverable">
    {{#buses1}}
        {{> busli}}
    {{/buses1}}
    {{^buses1}}
    <i>Det går inga bussar den närmsta timmen.</i>
    {{/buses1}}

    </ul>
  </div>
  <div class="w3-half w3-container">
    <h3>Bussar österut</h3>
    <ul class="w3-ul w3-hoverable">
    {{#buses2}}
        {{> busli}}
    {{/buses2}}
    {{^buses2}}
    <i>Det går inga bussar den närmsta timmen.</i>
    {{/buses2}}

    </ul>
  </div>
</div>

